# http://editorconfig.org

root = True

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,ini}]
indent_style = space
indent_size = 4

[*.py]
line_lenth = 79

[{*.bat, Makefile}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[{*.csv, .gitignore, .gitattributes, .dockerignore, *.txt, *.ico, *.svg, LICENSE, *.toml, *.df}]
end_of_line = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset